.toast {
    top: 0px;
}
.toast-notification {
    width: auto !important;
    margin: 0px !important;
    right: 0px !important;
    left: auto !important;
    // left: 100% !important;
}
.action {
    position: relative;
}
.action .tooltip-text {
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    bottom: 85%;
    left: -39%;
}
.action .tooltip-full {
    left: -55% !important;
}
.action .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip-text a:hover {
    color: #fff;
    text-decoration: underline;
}

.loading-text {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}
.wr-not-loading {
    height: 4px;
    margin: 0.5rem 0 1rem 0;
}
h4.wr-header2 {
    margin-top: 3% !important;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
    color: #6B6F82;
}
.breadcrumbs-wrapper{
    .breadcrumbs-title {
        text-transform: capitalize;
        font-weight: bolder;
    }
    .breadcrumb {
        width: 120px;
        display: inline-flex;
        a {
            text-transform: capitalize;
        }
    }
    .active.breadcrumb {
        width: 180px;
    }
    .first-item::after {
        content: '/';
        color: #000;
        padding: 0 8px;
    }
}

.wr-master-table {
    tbody {
        tr {
            td {
                text-transform: capitalize;
            }
            td.wr-company-email {
                text-transform: none;
            }
        }
    }
}

.wr-company-container {
    .collapsible {
        border: none;
        box-shadow: none;
        .collapsible-header {
            border: none;
            background-color: transparent;
        }
    }
}

.wr-features-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .wr-options-list {
        width: 33%;
        margin-bottom: 25px;
        h4 {
            font-size: 18px;
            font-weight: bold;
            color: #000;
        }
    }
}
.wr-select-field {
    margin: 15px 0;
    label {
        font-size: 15px;
        color: #000;
    }
    .wr-select-box {
        input {
            height: 1.5rem !important;
        }
    }
}
.wr-uploader {
    .drop-zone {
        width: 100%;
        height: 150px;
        border: 2px solid #e5e5e5;
        padding: 5px 10px;
        font-size: 15px;
        transition: border-color .15s linear;
        cursor: pointer;
        overflow: hidden;
        vertical-align: middle;
        i {
            font-size: 4rem;
            margin-top: 15px;
        }
        span {
            font-size: 18px;
        }
    }
    .drop-zone:hover {
        background-size: 30px 30px;
        background-image: -webkit-linear-gradient(135deg, #F6F6F6 25%, transparent 25%, transparent 50%, #F6F6F6 50%, #F6F6F6 75%, transparent 75%, transparent);
        background-image: linear-gradient(-45deg,#F6F6F6 25%,transparent 25%,transparent 50%,#F6F6F6 50%,#F6F6F6 75%,transparent 75%,transparent);
        -webkit-animation: stripes 2s linear infinite;
        animation: stripes 2s linear infinite;
    }
    .wr-images{
        height: auto;
        width: 100%;
        margin-top: 20px;
  
        .wr-image-list{
            position:relative;
            height: 200px;
            width: 225px;
            display: inline-block;
            margin: 10px;
            span {
                padding-left: 25px !important;
            }

            img{
                width: 200px;
                height: 200px;
                object-fit: cover;
            }
            
            .overlay {
                position: absolute;
                bottom: 0;
                left: 25px;
                top: 0px;
                right: 0;
                background-color:rgba(0, 0, 0, 0.7);
                overflow: hidden;
                width: 0;
                height: 200px;
                transition: .5s ease;
            }
            .close{
                display: none;
                position:absolute;
                z-index: 7;
                background: none;
                border: 2px solid #FFF;
                font-size: 11px;
                padding: 4px 8px;
                font-weight: bold;
                color: #FFF;
                -webkit-transition: all 0.15s linear;
                transition: all 0.15s linear;
                top: 10px;
                right: 10px;
            }
  
            &:hover{
                .overlay {
                    width: 200px;
                    height: 200px;
                }
                .close{
                    display: block;
                    background: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }
}


.wr-vehicles-search-input {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    height: 45px;
}
.wr-vehicles-search-input {
    padding: 0 10px;
    width: 100%;
}

.wr-vehicles-image-thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 4px;
}

//gallery dropzone
@-webkit-keyframes stripes {
    from {
      background-position: 0 0; }
    to {
      background-position: 60px 30px; } 
}
  
@keyframes stripes {
    from {
      background-position: 0 0; }
    to {
      background-position: 60px 30px; } 
}

//VEHICLES TABLE
.wr-vehicles-table-wrapper {
    width: 100%;
    table {
        th.wr-vehicles-date,
        th.wr-vehicles-title {
            width: 180px;
        }
    }
}
.wr-sorting-icon {
    vertical-align: bottom;
    cursor: pointer;
}

.tox-notifications-container {
    display: none !important;
}