.toast {
    top: 0px;
}

.action {
    position: relative;
}
.action .tooltip-text {
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    bottom: 85%;
    left: -39%;
}
.action .tooltip-full {
    left: -55% !important;
}
.action .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip-text a:hover {
    color: #fff;
    text-decoration: underline;
}
// .collapsible-header {
//     display: block;
//     overflow: auto;
// }
// .collapsible {
//     box-shadow: none;
//     border: none;
// }
.toast-notification {
    width: auto !important;
    margin: 0px !important;
    right: 0px !important;
    left: auto !important;
    // left: 100% !important;
}
.loading-text {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}
.wr-not-loading {
    height: 4px;
    margin: 0.5rem 0 1rem 0;
}
h4.wr-header2 {
    margin-top: 1.8rem;
    text-transform: capitalize;
}
.drop-zone {
    width: 200px;
    height: 200px;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
    padding: 20px;
}

.wr-uploader {
    .wr-images{
        height: auto;
        width: 100%;
        margin-top: 20px;
  
        .wr-image{
            position:relative;
            height: 150px;
            width: 175px;
            display: inline-block;
            margin: 10px;
            
            span {
                padding-left: 25px !important;
            }

            img{
                width: 150px;
                height: 150px;
            }
            
            .close{
                display: none;
                position:absolute;
                left: 25px;
                top: 0px;
                padding: 2px 8px;
                width: 25px;
                height: 25px;
                color: #fff;
                background: #000;
                z-index: 9999;
            }
  
            &:hover{
                .close{
                    display: block;
                }
            }
        }
      }
}